.rating {
  --percent: calc(var(--rating) / 10 * 100%);

  display: flex;
  line-height: 1;

  &::before {
    content: '★★★★★★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--color-widget-star) var(--percent),
      var(--color-widget-background) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
